
/* $Id: foxycart.css,v 1.1 2010/03/09 03:09:54 kilogauss Exp $ */ 

#fc_full_cart_logo
{
	float: right;
	display: block;
	vertical-align: text-bottom;
	padding-top: 5px;
}

#fc_admin_logo
{
	float: left;
	display: block;
	vertical-align: text-bottom;
	padding-right: 10px;
}